[submodule "repo/plugin.video.xstream"]
	path = repo/plugin.video.xstream
	url = git@github.com:chraschi/plugin.video.xstream.git
[submodule "repo/script.module.xstream"]
	path = repo/script.module.xstream
	url = git@github.com:chraschi/script.module.xstream.git
