[submodule "repo/plugin.video.xstream"]
	path = repo/plugin.video.xstream
	url = git@github.com:chraschi/plugin.video.xstream.git
[submodule "repo/script.module.xstream"]
	path = repo/script.module.xstream
	url = git@github.com:chraschi/repo.git
	branch = script.module.xstream
[submodule "repo/script.module.vavoo"]
	path = repo/script.module.vavoo
	url = git@github.com:chraschi/repo.git
	branch = script.module.vavoo
[submodule "repo/plugin.video.vavooto"]
	path = repo/plugin.video.vavooto
	url = git@github.com:chraschi/repo.git
	branch = plugin.video.vavooto
[submodule "repo/skin.embuary.chraschi"]
	path = repo/skin.embuary.chraschi
	url = git@github.com:chraschi/skin.embuary.chraschi.git
[submodule "repo/script.embuary.helper"]
	path = repo/script.embuary.helper
	url = git@github.com:chraschi/script.embuary.helper.git
[submodule "repo/plugin.video.themoviedb.helper"]
	path = repo/plugin.video.themoviedb.helper
	url = git@github.com:chraschi/plugin.video.themoviedb.helper.git
[submodule "repo/script.embuary.info"]
	path = repo/script.embuary.info
	url = git@github.com:chraschi/script.embuary.info.git
